@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply transition-colors duration-300;
  }
}

@layer utilities {
  .bg-grid-gray-200\/50 {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgb(229 231 235 / 0.5) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(229 231 235 / 0.5) 1px, transparent 1px);
  }

  .bg-grid-white\/\[0\.05\] {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgb(255 255 255 / 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(255 255 255 / 0.05) 1px, transparent 1px);
  }
}
